*.pyc
*.afa
*.db
*.pptx
docu*
logs*
temp*
build*
blastn*
installer*
*.exe
reference_data*
config_base.ini
config_company.ini
config_local.ini
user.pickle
log.txt
typeloader2/TypeLoader_Setup.exe
typeloader2/typeLoader_GUI.py
typeloader2/ENA_Webin_CLI/test_data/*
typeloader2/ENA_Webin_CLI/java
*/.idea
/.venv/*
*.egg-info*
/.runtest/
/typeloader2/typeloader_installer_new.nsi
/.idea/

